.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.header {
  text-align: center;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}

.separator {
  width: 100px;
  margin: 0 auto;
  border: 0.1px solid #000;
  margin-bottom: 1rem;
}

.intro,
.contactInfo {
  margin-bottom: 1.5rem;
}

.contactLayout {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contactInfoSection {
  text-align: center; /* 讓文字靠中對齊 */
  font-size: 1rem; /* 調整字體大小 */
  line-height: 2.8; /* 增加行距 */
  margin-top: 1rem;
}

.formSection {
  flex: 1 1 60%;
}

.form {
  display: flex;
  flex-direction: column;
}

.nameFields {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.formGroupSmall {
  flex: 1;
}

.formGroupLarge {
  margin-bottom: 1.5rem;
  flex: 1 1 100%;
}

.inputField {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black; /* 修改為黑色邊框 */
  border-radius: 4px;
  font-size: 1rem;
}

.inputField:invalid {
  border-color: rgb(7, 7, 7); /* 保留無效輸入時的紅色邊框 */
}

textarea.inputField {
  resize: none;
}

.submitButton {
  background-color: #4b4b1f;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  max-width: 200px;
  margin: 0 auto;
}

.submitButton:hover {
  opacity: 0.9;
}
