.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Lora', serif;
}

.backLink {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  max-width: 900px; /* 設置與 productContainer 一樣的寬度 */
  width: 100%;
  display: flex;
  justify-content: flex-start; /* 讓文字靠左對齊 */
}

.productContainer {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin-bottom: 2rem;
  gap: 2rem; /* 增加左右區塊間距 */
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  max-width: 95%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 1.5rem; /* 增加圖片和標題之間的間距 */
}

.infoSection {
  flex: 1;
  padding-left: 2rem;
}

.productTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.section {
  margin-bottom: 1rem;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0;
  color: #333;
  transition: color 0.3s ease; /* 增加過渡效果 */
}

.toggleButton:hover {
  color: #6e6546; /* 當鼠標懸停時改變顏色 */
}

.toggleButton:active {
  color: #333;
  font-weight: bold;
}

.sectionContent {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.description {
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 600px; /* 調整文字寬度以適配圖片 */
  margin-left: 10;
}

.imageSection {
  flex: 1;
  max-width: 100%; /* 確保圖片不會超過容器寬度 */
}

.separator {
  width: 80%; /* 或調整到你需要的寬度 */
  height: 1px; /* 橫線的高度 */
  background-color: rgb(169, 169, 169); /* 橫線的顏色 */
  border: none; /* 移除預設的邊框 */
  margin: 1rem 0; /* 上下邊距，讓橫線與內容保持適當距離 */
}

@media (max-width: 768px) {
  .productContainer {
    flex-direction: column;
    align-items: center;
  }

  .infoSection {
    padding-left: 0;
    text-align: center;
  }

  .productTitle {
    font-size: 1.5rem;
  }
}
